button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #444;
    background-image: linear-gradient(#555, #444);
    color: white;
    outline: none;
    display: block;
    font-size: medium;
    margin-bottom: 10px;
    border-radius: 4px;
    width: min(200px, 100%);
    text-align: justify;
}

button.visible {
    display: block;
}

button.gathering {
    background-image: linear-gradient(#66a, #448);
}

.button-disabled {
    cursor: help;
    /* Change the mouse cursor on hover to indicate it's disabled */
    /* background-color: #644; */
    background-image: linear-gradient(#744, #544);
    /* Gray color for disabled state */
    /* Darker text color for contrast with the gray background */
}


button:hover {
    /* background-color: #666; */
    opacity: .9;
}

.button-disabled:hover {
    /* background-color: #866; */
    opacity: .9;
}