        /* Basic CSS for balls and arena */
        #arena {
            position: relative;
            width: 100%;
            height: 400px;
            border: 1px solid #000;
            margin: 20px auto;
            overflow: hidden;
        }

        .ball {
            position: absolute;
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }

        .red {
            background-color: red;
        }

        .blue {
            background-color: blue;
        }

        .player {
            background-color: wheat;
        }

        .enemy {
            background-color: firebrick;
        }

        .stance:disabled {
            background-image: linear-gradient(#882, #444);
            cursor: default;
        }

        /* Add more styles as needed */