/* Initial button styling */
#darkModeToggle {
    background-color: #4a4a4a;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* Hover effect for the button */
#darkModeToggle:hover {
    background-color: #6a6a6a;
}

/* Active state for the button (while it's being pressed) */
#darkModeToggle:active {
    background-color: #2a2a2a;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: start;
    /* background-color: #ddd; */
    background-image: linear-gradient(#ddd, #ccc);
    color: #222;
    transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode {
    /* background-color: #333; */
    background-image: linear-gradient(#333, #222);
    color: #eee;
}




body.dark-mode #sidebar {
    background-color: #2c2c2c;
    /* Adjust this to your desired dark color for the sidebar */
}