/* Cutscenes */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    /* Fully transparent black background */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9000;
    /* This ensures the overlay is above all other content */
    transition: 0.5s;
}

#overlay-text {
    /* position: fixed; */
    top: 40%;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

#overlay-button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}

/* Fullscreen overlay */
#page-transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms;
    z-index: 9000;
}

/* Class to trigger the fade in */
.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms;
}

#isekaiButtons {
    display: grid;
    /* flex-direction: row; */
    /* justify-content: center; */
    gap: 20px;
    width: 70%;
}