#sidebar {
    width: 350px;
    height: 100vh;
    background-color: #bbb;
    border-right: 1px solid #eee;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}


#sidebar>#resources {
    display: flex;
    flex-direction: column;
    flex: none;
}

#sidebar>#resources>* {
    display: none;
    order: 1000;
}



#sidebar>#resources>.startVisible {
    display: flex;
    /* or whatever your desired default display value is */
}

#sidebar p {
    size: 18px;
    width: 100%;

    margin: 0;
    padding: 5px 0;
}

p.resource {
    display: flex !important;
    /* Enable flexbox on the paragraph */
    justify-content: space-between;
    /* Distribute items evenly */
}


.resourceValue {
    flex: 1;
    /* Distribute width equally among children */
    /* text-align: center; */
    /* Center-align the text */
}

.resourceValue {
    text-align: right;
    /* Right-align the value */
}

.resourceRate {
    margin-left: 30px;
    width: 100px;
}

#resourcesWords {
    order: 0;
}

#resource-clones {
    order: 1;
}

#resource-sticks {
    order: 2;
}

#resource-vines {
    order: 3;
}

#resource-rocks {
    order: 4;
}

#resource-fish {
    order: 5;
}

#resource-wood {
    order: 6;
}

#resource-ore {
    order: 7;
}

#resource-ponder {
    order: 50;
}