#productionTab>* {
    display: none;
}

body,
html {
    height: max-content;
    margin: 0;
    cursor: default;
    /* margin-left: 350px; */
    /* width of sidebar*/
}

/*.rows > * {
    display: none;
}*/
.startVisible {
    display: flex;
}



#eatFish {
    background-image: linear-gradient(#267A30, #222);
}

#eatFish.visible {
    display: block;
}


#prestige.visible {
    display: block;
    background-image: linear-gradient(MidnightBlue, #222);
}

#emojiGatherDisplay {
    font-size: 48px;
}

#emojiDisplay {
    /* text-align: right; */
    font-size: 48px;
    text-wrap: wrap;
    overflow-wrap: break-word;
    /* max-width: 600px; */
    width: 800px;
    /* height: 100px; */
}

#buildingList {
    display: grid;
    gap: 10px;
    font-size: 36px;
    font-family: monospace;
    text-wrap: wrap;
    width: 800px;
    font-variant-numeric: tabular-nums;
}

#buildingList span {
    cursor: default;
}

#levelUpMessage {
    /* display: none; */
    transition: display 0.5s ease-out;
    color: #F4D03F;
    font-style: italic;
}

@keyframes floatAndFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
        /* Adjust the value as needed */
    }
}

.float-up-fade-out {
    pointer-events: none;
    position: absolute;
    animation: floatAndFade 2s ease-out forwards;
    background-color: #212121;
    border-radius: 3px;
}

.tierOneButton {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#perksTab {
    /* display: flex; */
    flex-direction: row;
}

#perksTab #tierOneContainer .tierOneButton.selected {
    background-image: linear-gradient(rgb(52, 56, 157), rgb(41, 44, 122));
    /* you can adjust this color as needed */
}

#perksTab #tierOneContainer .tierOneButton:disabled {
    background-image: linear-gradient(gray, darkgray);
    opacity: .6;
    cursor: not-allowed;
}

/* .tooltip {
    position: relative;
} */

.dynamic-tooltip {
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: small;
    max-width: 300px;
    text-align: center;
    text-wrap: balance;
    z-index: 10000;
    display: none;
    /* Hidden by default */
    pointer-events: none;
    /* To ensure it doesn't interfere with mouse events */
}

.enough {
    color: #F4D03F;
}

.not-enough {
    color: #F58549;
}

.exceeds-max {
    color: #f54949;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    /* This ensures the element doesn't respond to clicks. */
}

#saveButton {
    position: fixed;
    bottom: 60px;
    right: 10px;
}

#deleteSaveButton {
    position: fixed;
    bottom: 110px;
    right: 10px;
}


#main {
    flex: 1;
    padding: 20px;
}


.rows {
    background-color: #333;
    /* Soft background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Adding a soft shadow */
    margin-bottom: 10px;
    /* Spacing between sections */
}

p {
    margin: 5px 0;
    /* Top and bottom margin */
    padding: 5px;
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

p:hover {
    background-color: #212121;
    /* Hover effect */
}



/* STAGE 2 */

#sidebar2 {
    position: sticky;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #2c2c2c;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    padding: 20px;
}

#main-panel,
#graphs-panel {
    margin-left: 200px;
    padding: 20px;
}