/* Styles for all direct children inside #tabs (i.e., your buttons) */
#tabs>* {
    transform: translateX(200%);
    transition: 0.3s;
    display: none;
}

#tabs {
    position: fixed;
    right: 10px;
    top: 10px;
}

#tabs>*.visible {
    transform: translateX(0);
    display: block;
}

#productionTab .startVisible {
    display: flex;
    /* or whatever your desired default display value is */
}

.tab-button {
    width: 120px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.3s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 50%);
    background-image: linear-gradient(#556, #445);
}

.tab-button.active {
    background-color: rgb(82, 172, 186);
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
}

.tab-content>.content {
    display: none;
    padding: 20px;
    border: 1px solid #444;
    width: 70%;
    transition: 0.1s;
}

.tab-content>.content.active {
    display: flex;
}

.experiment-tab {
    display: flex;
    flex-direction: column;
}

.button-columns {
    display: flex;
    justify-content: space-between;
}

.button-columns>div {
    width: 33.33%;
}

/* Adjusting for dark mode */
body.dark-mode .tabs {
    background-color: #333;
    /* Adjust this to your desired dark color for the tab container */
    border-color: #444;
    /* Adjust this if you have borders */
}

body.dark-mode .tab-button {
    background-color: #444;
    /* Dark button background */
    color: #fff;
    /* White text for dark buttons */
}

body.dark-mode .tab-button.active {
    background-image: linear-gradient(rgb(52, 56, 157), rgb(41, 44, 122));
    /* Slightly lighter button background for active state */
    color: #eee;
    /* Slightly dimmer text for active state */
}