.trading-container {
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 5px;
    /* max-width: 500px; */
    width: 100%;
    margin: auto;
}

#trading-container table {
    width: 100%;
    border-collapse: collapse;
}

#trading-container table thead tr th,
#trading-container table thead tr td {
    padding: 10px;
    border: 1px solid #353535;
}

.gold-container {
    margin-bottom: 20px;
}