#production > * {
    display: none;
}
#sidebar > #resources > * {
    display: none;
}

#production .startVisible {
    display: block; /* or whatever your desired default display value is */
}
#sidebar > #resources > .startVisible {
    display: block; /* or whatever your desired default display value is */
}
/* Styles for all direct children inside #tabs (i.e., your buttons) */
#tabs > * {
    transform: translateX(-200%);  // This moves the element left of its starting position
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    display: none;
}

#tabs > *.visible {
    transform: translateX(0); // Moves the element back to its original position
    display: inline-block;
}


/* Light mode progress bar styles */
#skillsContainer .progress-bar {
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

#skillsContainer .progress-bar .filled {
    background-color: #4CAF50;
    height: 20px;
    width: 0%; /* Initial width */
}

/* Dark mode progress bar styles */
.dark-mode #skillsContainer .progress-bar {
    background-color: #444;
}

.dark-mode #skillsContainer .progress-bar .filled {
    background-color: #76FF03;
}



body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: start;
    background-color: #ddd;
    color: #222;
    transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode {
    background-color: #333;
    color: #eee;
}

/* Adjusting for dark mode */
body.dark-mode .tabs {
    background-color: #333; /* Adjust this to your desired dark color for the tab container */
    border-color: #444; /* Adjust this if you have borders */
}

body.dark-mode .tab-button {
    background-color: #444; /* Dark button background */
    color: #fff; /* White text for dark buttons */
}

body.dark-mode .tab-button.active {
    background-color: #555; /* Slightly lighter button background for active state */
    color: #eee; /* Slightly dimmer text for active state */
}


body.dark-mode #sidebar {
    background-color: #2c2c2c; /* Adjust this to your desired dark color for the sidebar */
}

/* Other styles specific to your elements in dark mode can be added below in a similar manner */
.tooltip {
    position: relative;
}

.tooltip:hover::before,
.tooltip:hover::after {
    position: absolute;
    left: 100%;
    /*bottom: 100%;*/
    /*transform: translateX(-50%);*/
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    pointer-events: none;
    padding: 5px 10px;
}

.tooltip:hover::before {
    content: attr(data-tooltip-desc);
    bottom: 100%; /* Position above the button */
    background-color: rgba(0, 0, 0, 0.85); /* Darker shade of black */
    color: #fff;
    margin-bottom: 2px; /* Adjust this for gap between description and cost */
}

.tooltip:hover::after {
    content: attr(data-tooltip-cost);
    bottom: calc(100% - 25px); /* Adjust this value based on tooltip size */
    background-color: rgba(0, 0, 0, 0.65); /* Slightly lighter shade */
    color: #ffc107; /* Gold-ish color for cost, adjust as needed */
    border-top: 1px solid #fff; /* The horizontal line */
}




/* Initial button styling */
#darkModeToggle {
    background-color: #4a4a4a;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position:  fixed;
    bottom: 10px;
    right: 10px;
}

/* Hover effect for the button */
#darkModeToggle:hover {
    background-color: #6a6a6a;
}

/* Active state for the button (while it's being pressed) */
#darkModeToggle:active {
    background-color: #2a2a2a;
}

/* If you want a visual change when dark mode is active (you can toggle this with JavaScript) */
#darkModeToggle.dark {
    background-color: #ffffff;
    color: #4a4a4a;
}





#sidebar {
    width: 200px;
    height: 100vh;
    background-color: #bbb;
    border-left: 2px solid #000;
    padding: 20px;
}

#main {
    flex: 1;
    padding: 20px;
}


button {
    display: block;
    margin-bottom: 10px;
}

#sidebar p {
    size: 18px;
    width: 100%;

    margin: 0;
    padding: 5px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #444;
    color: white;
    outline: none;
}

button .gathering{
    background-color: #66a;
}

button:hover{
    background-color: #666;
}

.tab-button{
    width: 100px;
    padding-right: 20px;
}
.tab-button.active {
    background-color: #666;
}

.tab-content .content {
    display: none;
    padding: 20px;
    border: 1px solid #444;
}

.tab-content .content.active {
    display: block;
}
