#productionTab > * {
    display: none;
}
#sidebar > #resources > * {
    display: none;
}

#productionTab .startVisible {
    display: block; /* or whatever your desired default display value is */
}
#sidebar > #resources > .startVisible {
    display: block; /* or whatever your desired default display value is */
}
/*.rows > * {
    display: none;
}*/
.startVisible{
    display:  block;
}
.experiment-tab {
    display: flex;
    flex-direction: column;
}

.button-columns {
    display: flex;
    justify-content: space-between;
}

.button-columns > div {
    width: 33.33%;
}

/* Styles for all direct children inside #tabs (i.e., your buttons) */
#tabs > * {
    transform: translateX(-200%);  // This moves the element left of its starting position
    transition: 0.3s;
    display: none;
}

#tabs > *.visible {
    transform: translateX(0); // Moves the element back to its original position
    display: inline-block;
}


#eatFish {
    display: none;
}
#eatFish.visible {
    display: block;
}


#skillsTable {
    width: calc(100% - 250px); /* 200px is the width of your sidebar. Adjust as needed. */
    background-color: #f5f5f5; /* Light mode background color */
    color: #333; /* Light mode text color */
    position:fixed; 
    bottom:0; 
    left:0;
    transition: 1s;
}

body.dark-mode #skillsTable {
    background-color: #272727; /* Dark mode background color */
    color: #eee; /* Dark mode text color */
}

.progressBar {
    transition: width 0.3s linear;
}




body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: start;
    background-color: #ddd;
    color: #222;
    transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark-mode {
    background-color: #333;
    color: #eee;
}

/* Adjusting for dark mode */
body.dark-mode .tabs {
    background-color: #333; /* Adjust this to your desired dark color for the tab container */
    border-color: #444; /* Adjust this if you have borders */
}

body.dark-mode .tab-button {
    background-color: #444; /* Dark button background */
    color: #fff; /* White text for dark buttons */
}

body.dark-mode .tab-button.active {
    background-color: #555; /* Slightly lighter button background for active state */
    color: #eee; /* Slightly dimmer text for active state */
}


body.dark-mode #sidebar {
    background-color: #2c2c2c; /* Adjust this to your desired dark color for the sidebar */
}

/* Other styles specific to your elements in dark mode can be added below in a similar manner */
.tooltip {
    position: relative;
}

.tooltip:hover::before,
.tooltip:hover::after {
    position: absolute;
    left: 100%;
    /*bottom: 100%;*/
    /*transform: translateX(-50%);*/
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 1000;
    pointer-events: none;
    padding: 5px 10px;
}

.tooltip:hover::before {
    content: attr(data-tooltip-desc);
    bottom: 100%; /* Position above the button */
    background-color: rgba(0, 0, 0, 0.85); /* Darker shade of black */
    color: #fff;
    margin-bottom: 2px; /* Adjust this for gap between description and cost */
}

.tooltip:hover::after {
    content: attr(data-tooltip-cost);
    bottom: calc(100% - 25px); /* Adjust this value based on tooltip size */
    background-color: rgba(0, 0, 0, 0.65); /* Slightly lighter shade */
    color: #ffc107; /* Gold-ish color for cost, adjust as needed */
    border-top: 1px solid #fff; /* The horizontal line */
}




/* Initial button styling */
#darkModeToggle {
    background-color: #4a4a4a;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position:  fixed;
    bottom: 10px;
    right: 10px;
}

#saveButton {
    position: fixed;
    bottom: 60px;
    right: 10px;
}
#deleteSaveButton {
    position: fixed;
    bottom: 110px;
    right: 10px;
}

/* Hover effect for the button */
#darkModeToggle:hover {
    background-color: #6a6a6a;
}

/* Active state for the button (while it's being pressed) */
#darkModeToggle:active {
    background-color: #2a2a2a;
}

/* If you want a visual change when dark mode is active (you can toggle this with JavaScript) */
#darkModeToggle.dark {
    background-color: #ffffff;
    color: #4a4a4a;
}





#sidebar {
    width: 200px;
    height: 100vh;
    background-color: #bbb;
    border-left: 2px solid #000;
    padding: 20px;
}

#main {
    flex: 1;
    padding: 20px;
}



#sidebar p {
    size: 18px;
    width: 100%;

    margin: 0;
    padding: 5px 0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #444;
    color: white;
    outline: none;
    display: block;
    margin-bottom: 10px;
}

button .gathering{
    background-color: #66a;
}
.button-disabled {
    pointer-events: none; /* Make it non-clickable */
    cursor: not-allowed;  /* Change the mouse cursor on hover to indicate it's disabled */
    opacity: 0.5;         /* Reduce opacity to visually gray out the button */
}

button:hover{
    background-color: #666;
}

.jobs-tab {
    display: flex;
    flex-direction: column;
}

.job-button {
    display: flex;
    align-items: center;
    background-color: #154966;   /* Example blue color for the button */
    width: 400px;                /* Fixed width for the button */
    border-radius: 5px;          /* Rounded corners for the button */
    cursor: pointer;             /* Cursor should indicate it's clickable */
    padding: 5px 10px;           /* Some padding to space things out a bit */
    justify-content: space-between;  /* Spread out the elements inside evenly */
    margin-bottom: 10px;
}

.job-name {
    color: #FFF;                /* White color for the job name text */
    flex-grow: 1;               /* Allow the job name to take up any extra space */
    text-align: center;         /* Center the job name text */
}

.btn-decrement, .btn-increment {
    background-color: #12365e;  /* A slightly darker blue for contrast */
    padding: 5px 15px;          /* Padding to give the buttons some size */
    color: #FFF;                /* White color for the text of the buttons */
    border: 1px solid #111;
    border-radius: 3px;         /* Slightly rounded corners for these buttons */
}


.tab-button{
    width: 100px;
    padding-right: 20px;
}
.tab-button.active {
    background-color: #66a;
}

.tab-content > .content {
    display: none;
    padding: 20px;
    border: 1px solid #444;
}

.tab-content > .content.active {
    display: flex;
}



/* Cutscenes */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); /* Fully transparent black background */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* This ensures the overlay is above all other content */
    transition: 0.5s;
}

#overlay-text {
    position:  fixed;
    top: 40%;
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

#overlay-button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    margin-top: 20px;
    display: none;
    cursor: pointer;
}


.rows {
    background-color: #333; /* Soft background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adding a soft shadow */
    margin-bottom: 10px; /* Spacing between sections */
}

p {
    margin: 5px 0; /* Top and bottom margin */
    padding: 5px;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

p:hover {
    background-color: #212121; /* Hover effect */
}


/* ... similarly for other items */
